body{
    background-color: aliceblue;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    height: 100%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 530px;
    height: auto;
}

.title h1{
    font-size: 40px;
}

.title p{
    font-size: 25px;
    font-weight: 500;
}

.inputfields{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

input{
    height: 30px;
    font-size: 20px;
}

.getButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: aliceblue;
    border: solid 1px black;
}

.getButton:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

.stockTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: auto;
    width: 100%;
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding: 5px;
}

.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;

}
